*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
display: flex;
gap: 20px;
margin-left: 800px;

}


nav{

display: flex;
gap: 20px;
margin-left: 850px;
margin-top: 20px;


}


#home .map-text{
display: flex;
gap: 10px;
}

#home .map-text ul{
    padding: 0;
    margin: 0;
}