*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
display: flex;
gap: 20px;
margin-left: 800px;

}


nav{

display: flex;
gap: 20px;
margin-left: 850px;
margin-top: 20px;

}


.technical-support-btn{
    background-color: #212529;
    padding: 50px;
    vertical-align: middle;
}

.technical-support-text-btn{
    padding: 10px 16px;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    background-color:#0077b3;
   
}
   
 


section{
    border-top: 5px solid #0077b3;
    background-color: #0088cc;
    margin-bottom: 40px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height:normal;
    margin: 0 0 20px;
    position: relative;

}

.section-head{
font-size: 2.2rem;
margin-left: 270px;
    color: white;
    letter-spacing: -1px;
    font-family: "Open Sans", Arial, sans-serif;


}


.section-forum{
    display: flex;
    gap: 20px;
  align-items:center;
justify-content: center;
   color: white;
   font-family: "Open Sans", Arial, sans-serif;
}

.section-text{

    border-bottom: 1px solid white;
position: relative;
}
 

.section-forum-btn{
    color: #ffffff;
    background-color: #2e353e;
    border-color: #2e353e #2e353e #181c21;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12.8px 24px;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 100px;
    margin-left: 260px;
    
}

.section-forum-btn1{
    color: #ffffff;
    background-color: #2e353e;
    border-color: #2e353e #2e353e #181c21;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12.8px 24px;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 100px;
    margin-left: 50px;
    
}

.section-position{
    font-family: "Open Sans", Arial, sans-serif;
    color: white;
    font-size: medium;
    line-height: 1.5;
    position: absolute;

    top: 320px;
    left: 1100px;
   
}


ul{
    list-style: none;
}



#home .map-text{
display: flex;
gap: 10px;
}

#home .map-text ul{
    padding: 0;
    margin: 0;
}


article{

margin-top: 100px;
padding: 80px;

    position: relative;
}
.month{

    background-color: #0088cc;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
    color: #FFF;
    font-size: 0.9em;
    padding: 0 10px 2px;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
}
.year{

    background: #F4F4F4;
    border-radius: 2px 2px 0 0;
    color: #0088cc;
    display: block;
    font-size: 10px;
    font-weight: 500;
    font-weight: bold;
    padding: 5px;
}

 .article-pictures{
    display: flex;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    font-weight: 400;
    font-family: "Open Sans", Arial, sans-serif;
    border-top: 2px solid lightgray;
    padding-top: 20px;
box-sizing: border-box;
   
  
}

.article-position{
font-size: 25px;
font-weight: 400;
font-family: "Open Sans", Arial, sans-serif;
position: absolute;
top: 0;
left: 200px;
}


.article-btn{
border-radius: 7px;
   float: right; 
   padding: 2px;
   width: 100px;
   background-color:#0088cc;
   color: #FFF;
}

.article-border{

    border-bottom: 1px solid gray;
}

footer::before{
    content: "";
  border-right: 10px solid #005580;
  border-top: 16px solid transparent;
  display: block;
  width: 7px;
  left: 100px;
  top: -19px;
  height: 0;
  
  
  position: absolute;
  
  }

footer{
   background-color:#212529 ;
color:white;
padding:60px;
margin-top: 40px;
border-top: 4px solid #0e0e0e ;
position: relative;
}





.footer{
    display: flex;
    gap: 30px;
    align-content: center;



}

.footer-image{
display: inline;
margin: 10pwhite;

}



   
a:link{
text-decoration: none;
color: #FFF;
}
.get-in-touch{
    color: #FFF;
    font-size: 1.6em;
    font-family:"Open Sans", Arial, sans-serif;
  background-color: #0088cc;
  position: absolute;
  display: inline-block;
  top: -20px;
  left:110px;
  text-transform: capitalize;
  padding: 1px 7px;


}


.footer-header{
    font-size: 1.8em;
    font-weight: 200;
    
   margin-bottom: 20px;

}

.new-letter-text{
    color: grey;
    line-height: 20px;
}

.news-letter-btn{
padding: 5px;
width: 250px;
border-radius: 5px;
}

.news-btn{
padding: 3px 10px;
border-radius: 5px;
margin-left: -3px;
}

.contact-text{
    line-height: 2;
}

.useful-links:links{
text-decoration: none;
    color: #FFF;
}

.container{

max-width: 100000px;

}

footer .container{
    background-color: #0088cc;
    padding: 50px;

}